apiVersion: apps/v1
kind: Deployment
metadata:
  name: news-service
  namespace: fintechops
spec:
  replicas: 2
  selector:
    matchLabels:
      app: news-service
  template:
    metadata:
      labels:
        app: news-service
    spec:
      containers:
      - name: news-service
        image: 196390795701.dkr.ecr.ap-south-1.amazonaws.com/fintechops-dev:news-service-backend-latest
        ports:
        - containerPort: 5000
        env:
        - name: PORT
          value: "5000"
        - name: NEWS_API_KEY
          valueFrom:
            secretKeyRef:
              name: app-secrets
              key: NEWS_API_KEY
        resources:
          requests:
            memory: "128Mi"
            cpu: "100m"
          limits:
            memory: "256Mi"
            cpu: "250m"
---
apiVersion: v1
kind: Service
metadata:
  name: news-service
  namespace: fintechops
spec:
  selector:
    app: news-service
  ports:
  - port: 5000
    targetPort: 5000
  type: ClusterIP
